<h1><%= @question.content %></h1>

<%= form_for [@survey, @question] do |f| %>
  <%= f.label :answer %>
  <%= f.text_area :answer %><br>
  <button type="submit" name="commit" class="btn btn-danger">Add answer!</button>
<% end %>
