<h1>Welcome to the World of Silly Survey Monkey</h1>
<%= image_tag "monkey.jpg" %>

<% if @surveys.any? %>
  <ul>
    <% @surveys.each do |survey| %>
      <%= link_to survey.title, survey_path(survey) %></li><br>
    <% end %>
  </ul>
<% else %>
  <p>There are no surveys yet.</p>
<% end %>

<p><%= link_to "Create your own survey", new_survey_path %></p>
